.bad-apple-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 20px;
    video {
        background: #000;
    }
    .canvas {
        display: none;
    }
    .bad-apple-screen {
        width: 600px;
        height: 480px;
        font-family: 'simsun'; // 只要字体可能满足正常字符展示即可
        overflow: hidden;
        div {
            line-height: 12px;
            font-size: 12px;
        }
    }
}

