.file {
    display: none;
}
.button {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 16px;
    &:active {
        background: rgba(0,0,0,.9);
        color: #fff;
        border: 1px solid;
    }
}